.header {
   text-align: center;
   background-color: lightgray;
   color: blue;
   font-size: 30px;
}

.subHead {
   border-style: solid;
   padding: 10px;
   margin: 0px;
}

.writerID {
   text-align: right;
   font-size: medium;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 5px;
}

mark {
   background-color: blue;
   color: white;
}

textarea{
   vertical-align: top;
}

.button {
   background-color: blue;
   color: white;
   padding: 15px 32px;
   text-align: center;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
}

/*******************************/
/* Resume CSS                  */
/*******************************/
.r_header {
   text-align: center;
   background-color: white;
   color: black;
}

body {
   font-size:12pt;
   font-family:verdana;
   max-width: 9in;
}
 
 * {
   box-sizing: border-box;
 }
 
 /* Create two unequal columns that floats next to each other */
 .column {
   float: left;
   padding: 10px;
 }
 
 .left {
   width: 75%;
 }
 
 .right {
   width: 25%;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
